/* General Styling */

@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 16px;
  background-color: #f3f1f1;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Links  */

.disabledLink {
  cursor: not-allowed;
  color: #636363;
}

/* Navigation Bar */

nav {
  top: 0;
  display: flex;
  position: fixed;
  padding: 25px 5%;
  justify-content: space-between;
  width: 90%;
  background-color: #f3f1f1;
  border-bottom: 1px solid #474747;
  z-index: 10;
}

nav h1 {
  font-family: "Anybody", cursive;
  font-size: 1.5rem;
  color: #474747;
}

nav .nav-normal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

nav .nav-normal li {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Nav bar dropdown */

.dropdown {
  display: none;
}

.dropdown .button {
  z-index: 20;
  position: fixed;
  display: flex;
  top: 0px;
  right: 0px;
  font-size: 1.2rem;
  font-family: "Anybody", cursive;
  width: 50px;
  height: 74px;
  align-items: center;
  border-bottom: 1px solid #474747;
}

.button img {
  display: inline-block;
  height: 40px;
}

.dropdown ul {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 4;
  padding: 0px 10px 10px 10px;
  background-color: #f3f1f1;
  transition: all 400ms ease-out;
  border-left: 1px solid black;
}

.dropdown li {
  padding-top: 0.5rem;
  font-size: 1.5rem;
  transition: color 400ms linear;
}

/* Hover pseudo-class */

.dropdown:hover ul {
  top: 74px;
}

.dropdown li a:hover,
.nav-normal a:hover {
  color: #0e7ebd;
}

.dropdown .disabledLink:hover,
.nav-normal .disabledLink:hover {
  color: #636363;
}

/* Responsive Nav */

@media only screen and (max-width: 750px) {
  nav .nav-normal {
    display: none;
  }

  .dropdown {
    display: block;
  }
}

/* INDEX PAGE STYLING */

/* Main Section */

main {
  margin-top: 202px;
}

/* Introduction */

article {
  margin: auto;
  width: 80%;
  padding-left: 2rem;
}

article h2 {
  font-size: 1.8rem;
}

article span {
  color: #0e7ebd;
}

/* Courses */
.cSection {
  background-color: white;
  margin-top: 120px;
  width: 100%;
}

.courses {
  padding: 30px 0;
  background-color: white;
}

.courses p {
  color: rgb(121, 121, 121);
}

.courses h2 {
  padding-top: 5px;
  display: flex;
  align-items: center;
}

.courses img {
  display: inline-block;
  height: 30px;
  margin: 0;
  padding-right: 10px;
}

.courses ul li {
  list-style-type: circle;
  margin-left: 20px;
  margin-top: 5px;
  padding-top: 5px;
}

/* Interactive Button */

#cert-button {
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #0e7ebd;
  color: white;
  width: 250px;
  padding: 0.5rem 0;
  border: 1px solid black;
  cursor: pointer;
}

#cert-button:hover, #cert-button:active{
  background-color: rgb(255, 255, 255);
  color: #0e7ebd;
}

.langs {
  padding: 30px 0;
  height: 200x;
}

.langs div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.langs img {
  display: inline-block;
  height: 50px;
  margin: 0;
  padding: 5px;
}

/* CERTIFICATION PAGE STYLING */

.cert-main {
  margin-top: 120px;
}

.gallery {
  display: flex;
  flex-flow: column;
  margin-top: 2rem;
  width: 80%;
}
.gallery a {
  display: flex;
}
.gallery a img {
  display: inline-block;
  min-width: 0;
  flex: 1 1;
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.Codecademy {
  background-color: white;
  margin-top: 120px;
  padding-top: 40px;
  width: 100%;
}
